{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="What is Crowdfunding? | E-Cell IIITD" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures." />
        <link rel="canonical" href="http://ecell.iiitd.edu.in/" />
        <meta property="og:url" content="http://ecell.iiitd.edu.in/" />
        <meta property="og:site_name" content="E-Cell IIITD" />
        <meta name="description" content="E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures." />
        <link rel="icon" href="../favicon.gif" sizes=""/>
        <script type="application/ld+json">
            {"url":"http://ecell.iiitd.edu.in/","headline":What is Crowdfunding? | E-Cell IIITD","name":"E-Cell IIITD, The Entrepreneurship Cell Of IIIT-Delhi","description":"E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures.","@type":"WebSite","@context":"https://schema.org"}
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/main_2.css'%}">
        <title>What is Crowdfunding? | E-Cell IIITD</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark nav-dark fixed-top" id="navbarId">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="http://ecell.iiitd.edu.in/static/new/images/ecell-logo.png" class="d-inline-block align-top" height="100px">
                </a>
                <div class="d-block ml-auto mr-3" id="navbarNav">
                    <a class="btn btn-outline-light btn-sm px-3 badge-pill no-btn-shadow light stretch" data-tilt data-tilt-scale="1.05" href="blog">GO BACK</a>
                </div>
            </div>
        </nav>
        

        <div class="bg-black light pt-3 pt-lg-5 pb-2 text-light" style="margin-top: 76.3px; margin-bottom: -1px">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-12 col-lg-5 order-2 order-lg-1">
                            <ol class="breadcrumb p-0 small mb-0 d-none d-lg-flex bg-black">
                                <li class="breadcrumb-item "><a class="text-blue no-decoration" href="home">Home</a></li>
                                <li class="breadcrumb-item"><a class="text-blue no-decoration" href="blog">Blogs</a></li>
                                <li class="breadcrumb-item active">What is Crowdfunding?</li>
                            </ol>
                            <h4 class="font-weight-bold mb-1 mt-4">What is Crowdfunding?</h4>	
                            <p class="small text-secondary font-weight-light mb-0">Author: Shubham Sonthalia</p>
                            <p class="small text-secondary font-weight-light mb-3">Date: Nov 3, 2019</p>
                            <p class="pr-0 pr-lg-5">Crowdfunding is the process of collecting small investments/donations from a large groupof people for a common purpose like investments for a nascent startup/business venture, or in a promising product/idea through a web-based platform. It is already a renowned way of collecting funds for social, and philanthropic purposes. </p>
                            <hr class="mt-5 w-50 d-none d-md-block bg-secondary" style="opacity: 0.2">
                        </div>
                        <div class="col-12 col-lg-7 order-1 order-lg-2 py-4">
                            <img src="{% static 'blog/ecell_blog2.png' %}" class="w-100 card rounded-0">
                        </div>
                        <div class="col-12 order-3 mt-2 mt-lg-4">                    
                        </div>
                        <div class="col-12 order-4 mt-2 mt-lg-4">
                            This is a general structure of the crowdfunding process. A project initiator who has the idea/product and seeks investment for the same. A group of supporters who show interestin investing in them. And a moderating platform (website) which brings them together.
                        </div>
                        <div class="col-12 order-4 mt-2 mt-lg-4">
                            As per a recent survey conducted by Forbes, 29% of startups fail to grow because of the inadequacy of capital. In the current economic scenario, bootstrapping, investments from angel investors and VCs(Venture Capitalists) aren’t the most satisfactory options. Nearly 98% of the business plans received by accredited investors or VCs are rejected.
                        </div>
                        <div class="col-12 order-4 mt-2 mt-lg-4">
                            With the advent of Crowdfunding as a fundraising option for the startups and other business ventures, the equation has shifted in favour of the project initiators. Crowdfunding is anticipated to be one of the biggest financial changes in history.For instance, Oculus VR, an American company specializing in Virtual Reality products started a crowdfunding campaign in 2012 on Kickstarter to raise a fund of $250,000. It generated a whopping $2.4 million (more than ten times)! Later on, Facebook bought Oculus for $2 billion in 2014.
                        </div>
                        <div class="col-12 order-4 mt-2 mt-lg-4">
                            SEBI ( Security and Exchange Board of India), which regulates the security of the capital investment has recognized the untapped potential in the Indian market. According to SEBI,  “ If regulated appropriately, crowdfunding can provide an excellent funding alternative for early-stage startups and ventures.” There are various other benefits of using this platform which includes:
                            <ul class="list-unstyled py-2">
                                <li class="px-3 py-1"><i class="arrow right"></i>&nbsp; Recognition of ideas and products through the online campaign.</li>
                                <li class="px-3 py-1"><i class="arrow right"></i>&nbsp; Recognition among accredited investors after a successful campaign.</li>
                                <li class="px-3 py-1"><i class="arrow right"></i>&nbsp; A probability of developing a loyal customer base through the process.</li>
                                <li class="px-3 py-1"><i class="arrow right"></i>&nbsp; Fixing loopholes of the venture at an early stage by the feedbacks, commentsof people.</li>
                                <li class="px-3"><i class="arrow right"></i>&nbsp; Crowdfunding platforms are free until the campaign is successful. If the desired amount is not achieved, then the amount will be returned to the investors.</li>
                            </ul>
                        </div>
                                             <div class="col-12 order-4 mt-2 mt-lg-4">
                            Based on the kinds of returns offered by the project initiators, crowdfunding can be divided into four main categories. They are:
                            <div class="container">
                                <div class="accordion py-3" id="accordionExample">
                                    <div class="card bg-text text-dark">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                            <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Reward-Based Crowdfunding or Pre-order Crowdfunding
                                            </button>
                                            </h2>
                                        <!-- </div> -->
                                    
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body px-5">
                                                    Also called non-equity crowdfunding. In this mode of crowdfunding, the entrepreneur raises money for their products/ideas with the help of interested investors. They, in exchange, offer them rewards or something of value. For instance, Video games are a popular crowdfunding investment. The gamers often receive advance copies of the game as a reward from the company. The rewards offered to the investors incentivise them to invest in a project. Rewards are proportional to the investments!
                                            </div>
                                        </div>
                                        </div>
                                    <div class="card bg-text text-dark">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                            <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Equity-Based Crowdfunding
                                            </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body px-5">
                                                    In equity crowdfunding, common people along with some established investors invest in startups or other small-scale companies to gain partial ownership over the company. Companies have a set price for their shares. The cost of shares depends on the company’s valuation. The moderating platform allows people to select from hundreds of projects/ideas. Equity-based investments promise significant returns but at the same time pose risks for the investors to lose their capital given the company could not grow. 
                                            </div>
                                        </div>
                                        </div>
                                    <div class="card bg-text text-dark">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                            <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Debt-based Crowdfunding
                                            </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body px-5">
                                                    It is also called peer-to-peer lending or just P2P. In this mode of Crowdfunding, investors source the money to startups through an online platform in return for interests. The investors invest in securities in a fund. The company is in debt of the investor and pays them a percentage of the amount every month.  This mode of crowdfunding is one of the most effective ways of raising funds for a startup. 
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="card bg-text text-dark">
                                        <div class="card-header" id="headingForur">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                        Donation-based Crowdfunding
                                                </button>
                                            </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingForur" data-parent="#accordionExample">
                                            <div class="card-body px-5">
                                                    It is reasonably similar to Reward-based Crowdfunding. The difference is that the entrepreneurs do not return anything to the investor. However, for increasing donations/contributions they may receive escalating token rewards. The most important use of this crowdfunding is found in charitable purposes such as donations for relief camps to aid search, food and shelter, donations for curing expensive treatments, etc. 
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                            </div>
                        </div>
                        <div class="col-12 order-5 mt-2 mt-lg-4">
                            <hr style="background-color: white;">
                            <p class="h5" style="line-height: 0.85cm;">In India, where startups are the future of the Indian economy, crowdfunding is an excellentalternative investment for them. Crowdfunding has raised over $1.5 billion to give birth and grow business ventures over time! With all these facts well known, it strongly asserts that now is the time to take the best advantage of this platform.</p>
                            <hr style="background-color: white;">
                        </div>
                    </div>
                </div>
        
                <div class="py-3 container light">
                    <div class="row">
                        <div class="col-12 col-lg-4 d-flex flex-column">
                            <p class="mb-1 text-white h5 stretch"><b>FOLLOW US</b></p>   
                            <div class="col flex-1 px-0">  
                                <ul class="p-0 d-flex align-items-end flex-column h-100 mb-0" style="list-style: none;">
                                    <li class="w-100"><a href="https://www.facebook.com/ECell.IIITD/" target="_blank" class="no-decoration small text-white">Facebook<img src="{% static 'blog/link-arrow.svg'%}" class="ml-2" width="20px" alt=""></a></li>
                                    <li class="w-100"><a href="https://www.instagram.com/iiitdecell/" target="_blank" class="no-decoration small text-white">Instagram<img src="{% static 'blog/link-arrow.svg'%}" class="ml-2" width="20px" alt=""></a></li>
                                    <li class="w-100 mt-auto d-none d-lg-block"><a href="/privacy-policy" class="no-decoration small text-white">Privacy Policy</a></li>
                                </ul>          
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                            <p class="mb-1 text-white h5 stretch"><b>SITEMAP</b></p>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="p-0 mb-0" style="list-style: none;">
                                        <li><a href="/" class="no-decoration small text-white">Home</a></li>
                                        <!-- <li><a href="/register/" class="no-decoration small text-white">Register</a></li> -->
                                        <!-- <li><a href="/events/" class="no-decoration small text-white">Event Details</a></li> -->
                                        <li><a href="/blog" class="no-decoration small text-white">Blogs</a></li>
                                        <li><a href="/team" class="no-decoration small text-white">Team</a></li>
                                        <!-- <li><a href="/#statistics" class="no-decoration small text-white">Statistics</a></li> -->
                                        <!-- <li><a href="/sponsors" class="no-decoration small text-white">Sponsors</a></li> -->
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="p-0 mb-0 d-flex flex-column align-items-end h-100" style="list-style: none;">
                                        <!-- <li class="w-100"><a href="/schedule/" class="no-decoration small text-white">Schedule</a></li> -->
                                        <!-- <li class="w-100"><a href="/workshops/" class="no-decoration small text-white">Workshops</a></li> -->
                                        <!-- <li class="w-100"><a href="/talks/" class="no-decoration small text-white">Talks</a></li> -->
                                        <!-- <li class="w-100"><a href="/faqs/" class="no-decoration small text-white disabled" onclick="return false;">FAQs</a></li> -->
                                        <!-- <li class="w-100"><a href="/team/" class="no-decoration small text-white">Team</a></li> -->
                                        <li class="w-100 mt-auto d-block d-lg-none"><a href="/privacy-policy" class="no-decoration small text-white">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
</body>
</html>
