{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="E-Cell IIITD | THE ENTREPRENEURSHIP CELL" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures." />
        <link rel="canonical" href="http://ecell.iiitd.edu.in/" />
        <meta property="og:url" content="http://ecell.iiitd.edu.in/" />
        <meta property="og:site_name" content="E-Cell IIITD" />
        <meta name="description" content="E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures." />
        <link rel="icon" href="../favicon.gif" sizes=""/>
        <script type="application/ld+json">
            {"url":"http://ecell.iiitd.edu.in/","headline":"E-Cell IIITD | THE ENTREPRENEURSHIP CELL","name":"E-Cell IIITD","description":"E-Cell IIITD, The Entrepreneurship cell of IIIT-Delhi is a group consisting of the students of IIIT-Delhi committed to fostering the entrepreneurial spirit among the students. It gives a platform in terms of seed-funding, incubation, mentoring, training, knowledge dissemination and best practice research to convert path breaking business ideas into self-sustaining business ventures.","@type":"WebSite","@context":"https://schema.org"}
        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'blog/main2.css' %}">
        <title>Blogs | E-Cell IIITD</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark nav-dark fixed-top" id="navbarId">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'new/images/ecell-logo.png' %}" class="d-inline-block align-top" height="100px">
                </a>
                <div class="d-block ml-auto mr-3" id="navbarNav">
                    <a class="btn btn-outline-light btn-sm px-3 badge-pill no-btn-shadow light stretch" data-tilt data-tilt-scale="1.05" href="">JOIN NOW</a>
                </div>
            </div>
        </nav>
        

    <div class="bg-black light pt-4 pt-lg-5 pb-2 text-light" style="margin-top: 76.3px; margin-bottom: -1px">
        <div class="container py-4">
            <h1 class="bold text-center display-4 animated fadeIn slow"><b>Blogs</b></h1>
            <div class="row mt-4 mt-lg-4" style="overflow: hidden">
                
                <div class="col-12 col-md-4 my-3 my-md-4 animated fadeInUp faster delay-1">
                    <a class="card rounded-0 shadow-sm text-black p-3" href="blog1" style="text-decoration: none; color: black !important">
                        <div class="card-body p-0 rounded-0">
                            <img src="{% static 'blog/ecell_blog1.png' %}" class="card-img-top rounded-0">
                            <h5 class="card-title font-weight-bold text-dark pt-3 mb-1">Explore. Encounter. Endeavour</h5><p class="card-title text-secondary small mb-1 font-weight-light" style="font-size: 10px"><i class="fas fa-calendar-day"></i> Nov 1, 2019</p>
                            <p class="mb-3">Do you find yourself wondering about the endless possibilities of untapped potential?
                                Do you find yourself hooked to Shark Tank, boasting how you could have pitched better?
                                ...</p>
                            <p class="small mb-0 text-center" style="color: #0649E3">Continue Reading</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-4 my-3 my-md-4 animated fadeInUp faster delay-1">
                    <a class="card rounded-0 shadow-sm text-black p-3" href="blog2" style="text-decoration: none; color: black !important">
                        <div class="card-body p-0 rounded-0">
                            <img src="{% static 'blog/ecell_blog2.png' %}" class="card-img-top rounded-0">
                            <h5 class="card-title font-weight-bold text-dark pt-3 mb-1">What is Crowdfunding?</h5><p class="card-title text-secondary small mb-1 font-weight-light" style="font-size: 10px"><i class="fas fa-calendar-day"></i> Nov 1, 2019</p>
                            <p class="mb-3">Crowdfunding is the process of collecting small investments/donations from a large groupof people for a common purpose like investments for a nascent startup/business venture...</p>
                            <p class="small mb-0 text-center" style="color: #0649E3">Continue Reading</p>
                        </div>
                    </a>
                </div>
                
                <!-- <div class="col-12 col-md-4 my-3 my-md-4 animated fadeInUp faster delay-2">
                    <a class="card rounded-0 shadow-sm text-black p-3" href="/blog/2" style="text-decoration: none; color: black !important">
                        <div class="card-body p-0 rounded-0">
                            <img src="/static/img/blog/2.jpg" class="card-img-top rounded-0">
                            <h5 class="card-title font-weight-bold text-dark pt-3 mb-1">Comedy Night | Esya&#39;18</h5><p class="card-title text-secondary small mb-1 font-weight-light" style="font-size: 10px"><i class="fas fa-calendar-day"></i> Jun 4, 2019</p>
                            <p class="mb-3">Esya will soon be back with another comedy night for all those seeking a chilled out night, just to relax and laugh with friends and...</p>
                            <p class="small mb-0 text-center" style="color: #0649E3">Continue Reading</p>
                        </div>
                    </a>
                </div> -->
                
                <!-- <div class="col-12 col-md-4 my-3 my-md-4 animated fadeInUp faster delay-3">
                    <a class="card rounded-0 shadow-sm text-black p-3" href="/blog/3" style="text-decoration: none; color: black !important">
                        <div class="card-body p-0 rounded-0">
                            <img src="/static/img/blog/3.jpg" class="card-img-top rounded-0">
                            <h5 class="card-title font-weight-bold text-dark pt-3 mb-1">Events at ESYA</h5><p class="card-title text-secondary small mb-1 font-weight-light" style="font-size: 10px"><i class="fas fa-calendar-day"></i> Jun 11, 2019</p>
                            <p class="mb-3"><i>“Without successful Events, a successful Esya is impossible”</i> was the statement made in one of the mail write-up for Esya’18, and it’s true indeed.</p>
                            <p class="small mb-0 text-center" style="color: #0649E3">Continue Reading</p>
                        </div>
                    </a>
                </div> -->
                
                <!-- <div class="col-12 col-md-4 my-3 my-md-4 animated fadeInUp faster delay-4">
                    <a class="card rounded-0 shadow-sm text-black p-3" href="/blog/4" style="text-decoration: none; color: black !important">
                        <div class="card-body p-0 rounded-0">
                            <img src="/static/img/blog/4.jpg" class="card-img-top rounded-0">
                            <h5 class="card-title font-weight-bold text-dark pt-3 mb-1">Workshops at ESYA</h5><p class="card-title text-secondary small mb-1 font-weight-light" style="font-size: 10px"><i class="fas fa-calendar-day"></i> Jun 18, 2019</p>
                            <p class="mb-3">Inception of an idea is the most important part of any discovery or invention. We either start from nothing or from something.</p>
                            <p class="small mb-0 text-center" style="color: #0649E3">Continue Reading</p>
                        </div>
                    </a>
                </div> -->
                
            </div>
        </div>
    </div>

    <div class="bg-black py-5" id="footerId">
        <div class="container light">
            <div class="row">
                <div class="col-12 col-lg-4 d-flex flex-column">
                    <p class="mb-1 text-white h5 stretch"><b>FOLLOW US</b></p>   
                    <div class="col flex-1 px-0">  
                        <ul class="p-0 d-flex align-items-end flex-column h-100 mb-0" style="list-style: none;">
                            <li class="w-100"><a href="https://www.facebook.com/ECell.IIITD" target="_blank" class="no-decoration small text-white">Facebook<img src="{% static 'blog/link-arrow.svg' %}" class="ml-2" width="20px" alt=""></a></li>
                            <li class="w-100"><a href="https://www.instagram.com/iiitdecell/" target="_blank" class="no-decoration small text-white">Instagram<img src="{% static 'blog/link-arrow.svg' %}" class="ml-2" width="20px" alt=""></a></li>
                            <li class="w-100 mt-auto d-none d-lg-block"><a href="/privacy-policy" class="no-decoration small text-white">Privacy Policy</a></li>
                        </ul>          
                    </div>
                </div>
                <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                    <p class="mb-1 text-white h5 stretch"><b>SITEMAP</b></p>
                    <div class="row">
                        <div class="col-6">
                            <ul class="p-0 mb-0" style="list-style: none;">
                                <li><a href="/" class="no-decoration small text-white">Home</a></li>
                                <!-- <li><a href="/register/" class="no-decoration small text-white">Register</a></li> -->
                                <!-- <li><a href="/events/" class="no-decoration small text-white">Event Details</a></li> -->
                                <li><a href="/blog.html" class="no-decoration small text-white">Blogs</a></li>
                                <li><a href="/team.html" class="no-decoration small text-white">Team</a></li>
                                <!-- <li><a href="/#statistics" class="no-decoration small text-white">Statistics</a></li> -->
                                <!-- <li><a href="/sponsors" class="no-decoration small text-white">Sponsors</a></li> -->
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="p-0 mb-0 d-flex flex-column align-items-end h-100" style="list-style: none;">
                                <!-- <li class="w-100"><a href="/schedule/" class="no-decoration small text-white">Schedule</a></li> -->
                                <!-- <li class="w-100"><a href="/workshops/" class="no-decoration small text-white">Workshops</a></li> -->
                                <!-- <li class="w-100"><a href="/talks/" class="no-decoration small text-white">Talks</a></li> -->
                                <!-- <li class="w-100"><a href="/faqs/" class="no-decoration small text-white disabled" onclick="return false;">FAQs</a></li> -->
                                <!-- <li class="w-100"><a href="/team/" class="no-decoration small text-white">Team</a></li> -->
                                <li class="w-100 mt-auto d-block d-lg-none"><a href="/privacy-policy" class="no-decoration small text-white">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    </body>
</html>
