<!DOCTYPE html>
<head>
    <title>ECell IIITD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="files/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="files/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="files/templates/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    
</head>
<body class="gradient-2">
    <div class="p-5 mx-5">
        <div class="main-color heading">
                Team Members
            </div>
            <div class="row d-flex justify-content-between py-5">
                <div class="col-1 border-5 dark px-3 text-center d-flex flex-column justify-content-center">
                    <div class="pb-3">
                            <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                    </div>
                    <div class="py-3">
                        <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                    </div>
                    <div class="py-3">
                        <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                    </div>

                    <div class="py-3">
                            <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                        </div>
                        <div class="py-3">
                            <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                        </div>
                        <div class="py-3">
                            <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                        </div>
                        <div class="pt-3">
                            <img src="images/ecell-logo.jpg" class="border-50" style="height: 5rem; width:5rem;" alt="">
                        </div>
                </div>
                <div class="col-10 border-5 dark p-4 pt-5">
                    <div class="border-5 my-auto pill dark-background px-5 py-2 m-4">
                        <div class="main-color event-header">
                            Member Name
                        </div>
                        <div class="white">
                            short description short description short description short description short description
                        </div>
                    </div>
                    <div class="border-5 pill dark-background px-5 py-2 m-4">
                        <div class="main-color event-header">
                            Member Name
                        </div>
                        <div class="white">
                            short description short description short description short description short description
                        </div>
                    </div>
                    <div class="border-5 pill dark-background px-5 py-2 m-4">
                        <div class="main-color event-header">
                            Member Name
                        </div>
                        <div class="white">
                            short description short description short description short description short description
                        </div>
                    </div>
                    <div class="border-5 pill dark-background px-5 py-2 m-4">
                            <div class="main-color event-header">
                                Member Name
                            </div>
                            <div class="white">
                                short description short description short description short description short description
                            </div>
                        </div>
                        <div class="border-5 pill dark-background px-5 py-2 m-4">
                                <div class="main-color event-header">
                                    Member Name
                                </div>
                                <div class="white">
                                    short description short description short description short description short description
                                </div>
                            </div>
                            <div class="border-5 pill dark-background px-5 py-2 m-4">
                                    <div class="main-color event-header">
                                        Member Name
                                    </div>
                                    <div class="white">
                                        short description short description short description short description short description
                                    </div>
                                </div>
                                <div class="border-5 pill dark-background px-5 py-2 m-4">
                                        <div class="main-color event-header">
                                            Member Name
                                        </div>
                                        <div class="white">
                                            short description short description short description short description short description
                                        </div>
                                    </div>
                </div>
            </div>
    </div>
</body>