{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>
        Pitch Cafe 2.0
    </title>
</head>
<body>
    <style>
        #header {
            width: 100%;
            height: auto;
            background-color: #ff4444;
            background-position: center;
            background-size: cover;
            text-align: center;
            margin-top: 3px;
            padding-top: 1px;
            padding-bottom: 4px;
        }
        html, body {
            height: 100%;
        }
    </style>
    <div class="header">
        <img src="{% static 'pitchcafe2.png' %}" alt="Pitch Cafe 2.0" style="background-size:cover; width:100%;">
    </div>
</body>